/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }


/* ------------------------------------------------------------------ */
/* a. Mouse Styles
/* ------------------------------------------------------------------ */
/* #world {
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   background: transparent;
   text-align: center;
   overflow: hidden;
   z-index: 399;
} */

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   /* background:  #222 url(../images/header-background.jpg) no-repeat top center; */
   background-color: #222;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
   z-index: 399;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
   z-index: 399;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;s
   text-align: center;
   z-index: 399;
}

header .banner-text {
  width: 100%;
  margin-top: 10%;
  z-index: 399;
}
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
   z-index: 399;
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
   z-index: 399;
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #FF4500;
   z-index: 399;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
   z-index: 399;
}

/* header social links */
header .social {
   margin: 20px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
   flex-direction: column;
   position: absolute;
   right: 5%;
   top: 20%;
   z-index: 399;
}
header .social li {
   display: block;
   border-radius: 2%;
   z-index: 399;
}

header .social li a {
  color: #fff;
}
header .social li a:hover {
  background-color: #00A0DC;
  padding: 0 6px;
  border-radius: 5px;
  -webkit-transition: all 500ms cubic-bezier(0.1, -0.4, 2.0, 5.1);
   -ms-transition: all 500ms cubic-bezier(0.1, -2.5, 0.1, 2.1);
   transition: all 500ms cubic-bezier(0.1, -2.5, 0.1, 2.1);
}

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

header .logo {
  position:absolute; /*it can be fixed too*/
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  background: url(../images/ahmet-logo-320x180.png) no-repeat top center;
  height: 40em;
  width: 20em;
  z-index: 10;
  cursor: pointer;
}

header .pipe-blink {
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:28em;
  margin:auto;
  background: #222 no-repeat top center;
  height: 10em;
  width: 2em;
  z-index: 10;
  animation: blinker 2s linear infinite;
  cursor: pointer;
}
/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 32px 'opensans-bold', sans-serif;
   width: 100%;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque {
  background-color: transparent;
}


/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: right;
   margin: 2% 25% 2% 0;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #FFD700; }
ul#nav li.white-logo {
  position: absolute;
  top: 30%;
  left: 24%;
  width: 80px;
  height: 45px;
  background: url(../images/ahmet-logo-80x45.png);
}


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

/* #about {
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #11ABB0; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
}
#about .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
} */

/* ------------------------------------------------------------------ */
/* c. Work Section
/* ------------------------------------------------------------------ */

 #work {
   position: absolute;
   left:0;
   right:0;
   top:0;
   bottom:0;
   margin:2%;
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
   z-index: 600;
}

#work a, #work a:visited  { color: #fff; }
#work a:hover, #work a:focus { color: #11ABB0; }

#work h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#work p {
   line-height: 30px;
   color: #7A7A7A;
}
#work .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#work .contact-details { width: 91.66667%; }
#work .download {
   width: 58.33333%;
   padding-top: 6px;
}
#work .main-col { padding-right: 5%; }
#work .download .button {
   margin-top: 6px;
   background: #444;
}
#work .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#work .download .button i {
   margin-right: 15px;
   font-size: 20px;
}


/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

/* #resume {
   background: #fff;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#resume a, #resume a:visited  { color: #11ABB0; }
#resume a:hover, #resume a:focus { color: #313131; }

#resume h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#resume h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#resume h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#resume .header-col { padding-top: 9px; }
#resume .main-col { padding-right: 10%; }

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#resume .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
} */

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 36px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 42px;
  	border-radius: 3px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #313131;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
  	background: #313131;
   display: inline-block;
  	height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}
/*
.git {
  	-moz-animation: git 2s ease;
  	-webkit-animation: git 2s ease;
}
.illustrator {
  	-moz-animation: illustrator 2s ease;
  	-webkit-animation: illustrator 2s ease;
}
.reactjs {
  	-moz-animation: reactjs 2s ease;
  	-webkit-animation: reactjs 2s ease;
}
.css {
  	-moz-animation: css 2s ease;
  	-webkit-animation: css 2s ease;
}
.html5 {
  	-moz-animation: html5 2s ease;
  	-webkit-animation: html5 2s ease;
}
.vuejs {
  	-moz-animation: vuejs 2s ease;
  	-webkit-animation: vuejs 2s ease;
}
.mongodb {
  	-moz-animation: mongodb 2s ease;
  	-webkit-animation: mongodb 2s ease;
}

@-moz-keyframes git {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-moz-keyframes illustrator {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-moz-keyframes reactjs {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-moz-keyframes css {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-moz-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes vuejs {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-moz-keyframes mongodb {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}

@-webkit-keyframes photoshop {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-webkit-keyframes illustrator {
  0%   { width: 0px;  }
  100% { width: 55%;  }
}
@-webkit-keyframes reactjs {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes css {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-webkit-keyframes html5 {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes vuejs {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes mongodb {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}  */

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
   background: #ebeeee;
   padding-top: 90px;
   padding-bottom: 60px;
}
#portfolio h1 {
   font: 15px/24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #95A3A3;
}

/* Portfolio Content */
#portfolio-wrapper .columns { margin-bottom: 36px; }
.portfolio-item .item-wrap {
   background: #fff;
   overflow: hidden;
   position: relative;

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-item .item-wrap a {
   display: block;
   cursor: pointer;
}

/* overlay */
.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   background: url(../images/overlay-bg.png) repeat;
}
.portfolio-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   height: 30px;
   width: 30px;
   font-size: 18px;
   line-height: 30px;
   text-align: center;

   opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}
.portfolio-item .item-wrap img {
   vertical-align: bottom;
}
.portfolio-item .portfolio-item-meta { padding: 18px }
.portfolio-item .portfolio-item-meta h5 {
   font: 14px/21px 'opensans-bold', sans-serif;
   color: #fff;
}
.portfolio-item .portfolio-item-meta p {
   font: 12px/18px 'opensans-light', sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
}

/* on hover */
.portfolio-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
.portfolio-item:hover .link-icon {
   opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

/* popup modal */
.popup-modal {
	max-width: 550px;
	background: #fff;
	position: relative;
	margin: 0 auto;
}
.popup-modal .description-box { padding: 12px 36px 18px 36px; }
.popup-modal .description-box h4 {
   font: 15px/24px 'opensans-bold', sans-serif;
	margin-bottom: 12px;
   color: #111;
}
.popup-modal .description-box p {
	font: 14px/24px 'opensans-regular', sans-serif;
   color: #A1A1A1;
   margin-bottom: 12px;
}
.popup-modal .description-box .categories {
   font: 11px/21px 'opensans-light', sans-serif;
   color: #A1A1A1;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: block;
   text-align: left;
}
.popup-modal .description-box .categories i {
   margin-right: 8px;
}
.popup-modal .link-box {
   padding: 18px 36px;
   background: #111;
   text-align: left;
}
.popup-modal .link-box a {
   color: #fff;
	font: 11px/21px 'opensans-bold', sans-serif;
	text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}
.popup-modal a:hover {	color: #00CCCC; }
.popup-modal a.popup-modal-dismiss { margin-left: 24px; }


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
   opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

/* #call-to-action {
   background: #212121;
   padding-top: 66px;
   padding-bottom: 48px;
}
#call-to-action h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}
#call-to-action h1 span { display: none; }
#call-to-action .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f0ac";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}
#call-to-action .action {
   margin-top: 12px;
}
#call-to-action h2 {
   font: 28px/36px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#call-to-action h2 a {
   color: inherit;
}
#call-to-action p {
   color: #636363;
   font-size: 17px;
} */
/*#
call-to-action .button {
	color:#fff;
   background: #0D0D0D;
}
*/
/* #call-to-action .button:hover,
#call-to-action .button:active {
   background: #FFFFFF;
   color: #0D0D0D;
}
#call-to-action p span {
	font-family: 'opensans-semibold', sans-serif;
	color: #D8D8D8;
} */

/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

/* #testimonials {
   background: #1F1F1F url(../images/testimonials-bg.jpg) no-repeat center center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   background-attachment: fixed;

   position: relative;
   min-height: 200px;
   width: 100%;
   overflow: hidden;
}
#testimonials .text-container {
   padding-top: 96px;
   padding-bottom: 66px;
}
#testimonials h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}
#testimonials h1 span { display: none; }
#testimonials .header-col { padding-top: 9px; }
#testimonials .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f10d";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}

/*	Blockquotes */
/* #testimonials blockquote {
   margin: 0 0px 30px 0px;
   padding-left: 0;
   position: relative;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
#testimonials blockquote:before { content: none; }
#testimonials blockquote p {
   font-family: 'librebaskerville-italic', serif;
   padding: 0;
   font-size: 24px;
   line-height: 48px;
   color: #fff
}
#testimonials blockquote cite {
   display: block;
   font-size: 12px;
   font-style: normal;
   line-height: 18px;
   color: #fff;
}
#testimonials blockquote cite:before { content: "\2014 \0020"; }
#testimonials blockquote cite a,
#testimonials blockquote cite a:visited { color: #8B9798; border: none } */ */

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* Slider Styles */
.slides { zoom: 1; }
.slides > li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
  position: absolute;
  width: 60vw;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  background: #191919;
  padding-top: 32px;
  padding-bottom: 102px;
  color: #636363;
  z-index: 600;
}

#contact .section-head { margin-bottom: 42px; }

#contact a, #contact a:visited  { color: #11ABB0; }
#contact a:hover, #contact a:focus { color: #fff; }

#contact h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #EBEEEE;
  margin-bottom: 6px;
}
#contact h1 span { display: none; }
/* #contact h1:before {
  font-family: 'FontAwesome';
  content: "\f0e0";
  padding-right: 10px;
  font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  color: #ebeeee;
} */

#contact h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#contact p.lead {
   font: 18px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}
#contact .header-col { padding-top: 6px; }


/* contact form */
#contact form { margin-bottom: 30px; }
#contact label {
  font: 15px/24px 'opensans-bold', sans-serif;
  margin: 0 0;
  color: #EBEEEE;
  display: inline-block;
  float: left;
  width: 26%;
}
#contact input,
#contact textarea,
#contact select {
  padding: 18px 20px;
  color: #eee;
  background: #373233;
  margin-bottom: 42px;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	color: #fff;
	background-color: #11ABB0;
}
#contact button.submit {
  text-transform: uppercase;
  letter-spacing: 3px;
  color:#fff;
  background: #0D0D0D;
  border: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
  border-radius: 3px;
  margin-left: 26%;
}
#contact button.submit:hover {
	color: #0D0D0D;
	background: #fff;
}
#contact span.required {
	color: #11ABB0;
	font-size: 13px;
}
#message-warning, #message-success {
  display: none;
  background: #0F0F0F;
  padding: 24px 24px;
  margin-bottom: 36px;
  width: 65%;
  margin-left: 26%;
}
#message-warning { color: #D72828; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}
#image-loader {
  display: none;
  position: relative;
  left: 18px;
  top: 17px;
}


/* Twitter Feed */
/* #twitter {
   margin-top: 12px;
   padding: 0;
}
#twitter li {
   margin: 6px 0px 12px 0;
   line-height: 30px;
}
#twitter li span {
   display: block;
}
#twitter li b a {
   font: 13px/36px 'opensans-regular', Sans-serif;
   color: #474747 !important;
   border: none;
} */


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   padding-bottom: 48px;
   color: #A8A8A8;
   background-color: #222;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus {
  background-color: #00A0DC;
  color: #fff;
  padding: 0 6px;
  border-radius: 5px;
  -webkit-transition: all 500ms ease-out;
   -ms-transition: all 500ms ease-out;
   transition: all 500ms ease-out;
}

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }

/* Glitch */

.glitch {
  display: inline;
  color: #22F20E;
  position: relative;
  width: 80px;
  margin: 0 auto;
  /* -webkit-animation: hue-rotate 20s linear infinite;
          animation: hue-rotate 20s linear infinite; */
  z-index: 399;
}


.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #222;
  top: -10;
  color: #22F20E;
  background: #222;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 10s infinite linear alternate-reverse;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #222;
  top: -10;
  color: #22F20E;
  background: #222;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 10s infinite linear alternate-reverse;
}

/* 3D Button */

/* $dark-blue: #222;
$green: #90feb5;
$action-color: $green; */

/* div {
  -webkit-animation: hue-rotate 10s linear infinite;
          animation: hue-rotate 10s linear infinite;
} */

.button {
  -webkit-font-smoothing: antialiased;
  background-color: #22F20E;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 1px;
  color: white;
  margin-top: 1em;
  padding: 20px 40px 0 40px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
}
.button:hover {
  background-color: #90feb5;
  color: #fff;
}
.button:active {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}
.button--bubble {
  position: relative;
  z-index: 2;
  color: white;
  background: none;
  margin-top: 2em;
}
.button--bubble:hover {
  background: none;
}
.button--bubble:hover + .button--bubble__effect-container .circle {
  background: #44fd82;
}
.button--bubble:hover + .button--bubble__effect-container .button {
  background: #44fd82;
}
.button--bubble:active + .button--bubble__effect-container {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}
.button--bubble__container {
  position: relative;
  display: inline-block;
  /* -webkit-animation: hue-rotate 10s linear infinite;
          animation: hue-rotate 10s linear infinite; */
  z-index: 300;
}
.button--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 50%;
  left: 25%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: orangered;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;
}
.button--bubble__effect-container .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #222;
  transition: background 0.1s ease-out;
}
.button--bubble__effect-container .circle.top-left {
  top: 40%;
  left: 27%;
}
.button--bubble__effect-container .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button--bubble__container {
  top: 50%;
  margin-top: -25px;
}

/* Close Contact Button */

.close-contact {
  position:absolute;
  top:3%;
  right:3%;
  cursor:pointer;
  color:#fff;
  width:35px;
  height:35px;
  transition:all .3s ease;z-index:10
}
.close-contact span {
  position:absolute;
  top:18px;
  width:100%;
  height:3px;
  background-color:#e3d8d3;
  transition:all .4s cubic-bezier(.694,.048,.335,1)
}
.close-contact span:before {
  background-color:#f06449;
  transition:all .3s ease
}
.close-contact span:after, .close-contact span:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:100%
}
.close-contact span:after {
  background-color:#f3f3f3;
  transition:all .3s ease .3s
}
.close-contact span:first-child{
  left:0;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg)
}
.close-contact span:last-child{
  right:0;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg)
}

/* Close Work Button */

.close-work {
  position:absolute;
  top:3%;
  right:3%;
  cursor:pointer;
  color:#fff;
  width:35px;
  height:35px;
  transition:all .3s ease;z-index:10
}
.close-work span {
  position:absolute;
  top:18px;
  width:100%;
  height:3px;
  background-color:#e3d8d3;
  transition:all .4s cubic-bezier(.694,.048,.335,1)
}
.close-work span:before {
  background-color:#f06449;
  transition:all .3s ease
}
.close-work span:after, .close-work span:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:100%
}
.close-work span:after {
  background-color:#f3f3f3;
  transition:all .3s ease .3s
}
.close-work span:first-child{
  left:0;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg)
}
.close-work span:last-child{
  right:0;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg)
}

/* Animations */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(75px, 9999px, 8px, 0);
  }
  5% {
    clip: rect(19px, 9999px, 36px, 0);
  }
  10% {
    clip: rect(63px, 9999px, 57px, 0);
  }
  15% {
    clip: rect(50px, 9999px, 93px, 0);
  }
  20% {
    clip: rect(64px, 9999px, 4px, 0);
  }
  25% {
    clip: rect(35px, 9999px, 51px, 0);
  }
  30% {
    clip: rect(22px, 9999px, 46px, 0);
  }
  35% {
    clip: rect(35px, 9999px, 83px, 0);
  }
  40% {
    clip: rect(8px, 9999px, 22px, 0);
  }
  45% {
    clip: rect(73px, 9999px, 20px, 0);
  }
  50% {
    clip: rect(70px, 9999px, 39px, 0);
  }
  55% {
    clip: rect(71px, 9999px, 19px, 0);
  }
  60% {
    clip: rect(77px, 9999px, 70px, 0);
  }
  65% {
    clip: rect(3px, 9999px, 55px, 0);
  }
  70% {
    clip: rect(93px, 9999px, 7px, 0);
  }
  75% {
    clip: rect(8px, 9999px, 19px, 0);
  }
  80% {
    clip: rect(24px, 9999px, 10px, 0);
  }
  85% {
    clip: rect(57px, 9999px, 50px, 0);
  }
  90% {
    clip: rect(93px, 9999px, 57px, 0);
  }
  95% {
    clip: rect(14px, 9999px, 24px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 58px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(4px, 9999px, 91px, 0);
  }
  5% {
    clip: rect(1px, 9999px, 34px, 0);
  }
  10% {
    clip: rect(53px, 9999px, 54px, 0);
  }
  15% {
    clip: rect(52px, 9999px, 20px, 0);
  }
  20% {
    clip: rect(29px, 9999px, 7px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 36px, 0);
  }
  30% {
    clip: rect(11px, 9999px, 81px, 0);
  }
  35% {
    clip: rect(98px, 9999px, 74px, 0);
  }
  40% {
    clip: rect(73px, 9999px, 45px, 0);
  }
  45% {
    clip: rect(28px, 9999px, 83px, 0);
  }
  50% {
    clip: rect(6px, 9999px, 97px, 0);
  }
  55% {
    clip: rect(24px, 9999px, 41px, 0);
  }
  60% {
    clip: rect(75px, 9999px, 44px, 0);
  }
  65% {
    clip: rect(66px, 9999px, 32px, 0);
  }
  70% {
    clip: rect(19px, 9999px, 57px, 0);
  }
  75% {
    clip: rect(64px, 9999px, 93px, 0);
  }
  80% {
    clip: rect(80px, 9999px, 36px, 0);
  }
  85% {
    clip: rect(85px, 9999px, 36px, 0);
  }
  90% {
    clip: rect(18px, 9999px, 99px, 0);
  }
  95% {
    clip: rect(10px, 9999px, 15px, 0);
  }
  100% {
    clip: rect(3px, 9999px, 30px, 0);
  }
}

@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(180deg);
    -moz-filter: hue-rotate(180deg);
    -ms-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(180deg);
    -moz-filter: hue-rotate(180deg);
    -ms-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@media only screen and (min-width:64em) {
  .about-contact {
      width: 95%;
  }
  .close-contact:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1)
  }
  .close-contact:hover span:after, .close-contact:hover span:before { width:100% }
  .close-contact:hover span:first-child {
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg)
  }
  .close-contact:hover span:last-child {
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
  }
  .close-work:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1)
  }
  .close-work:hover span:after, .close-work:hover span:before { width:100% }
  .close-work:hover span:first-child {
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg)
  }
  .close-work:hover span:last-child {
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
  }
}


@media only screen and (min-width:320px) {

  #contact {
    height: 92%;
    overflow: scroll;
  }

  header .logo, header .pipe-blink  {
    top: 2em;
  }

  ul#nav li.white-logo{
    display: none;
  }

}

@media only screen and (min-width:641px) {

  #contact {
    height: 92%;
    overflow: hidden;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
  }

  #contact::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  header .pipe-blink, header .logo {
    top:0;
  }

  ul#nav li.white-logo{
    display: inline-block;
  }

}
